{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block user_auth_contents %}
    <div class="alert alert-info alert-dismissible">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
    <div>
        <p align="center">
            <a href="{{ path('fos_user_security_login') }}" role="button">Volver al inicio</a>
        </p>
    </div>
{% endblock user_auth_contents %}
